{% extends "base.html" %}

{% block title %}
{{ pet.name }} - Paws Rescue Center
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <div style="margin-right: 20px;">
        <img src="{{ url_for('static', filename=pet.id|string + '.jpg') }}" height="300">
    </div>
    <div>
        <h1 align="center">"Paws Rescue Center 🐾" - {{ pet.name }}</h1>
        <h2>Name: {{ pet.name }}</h2>
        <h3>Age: {{ pet.age }} Years</h3>
        <p>Bio: {{ pet.bio }}</p>
    </div>
</div>
{% endblock %}
