{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block header %}
<h1>Login to Your Account</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('login') }}" methods=["post","get"]>
    <!--<label>Email</label>
    <input type="text" name="email">
    <br>
    <label>Password</label>
    <input type="password" name="Password">
    <br><br>
    <input type="submit" value="Login">-->
    {{ form.email.label }}: 
    {{ form.email }}
    <br>
    <br>
    {{ form.password.label}}:
    {{ form.password }} 
    <br>
    {{form.csrf_token}}
    {{ form.submit}}
</form>
<!-- Conditional statement for displaying the message -->
{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% endblock %}
